{% load staticfiles %}
<!DOCTYPE>
<html ng-app="musicApp">
      <!--Third-party JS-->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.5.3/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.5/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--Main Angular config file-->
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/app.config.js' %}"></script>

    <!--Core utility file-->
    <script src="{% static 'js/core/core.module.js' %}"></script>
    <script src="{% static 'js/core/constants.js' %}"></script>

    <!--Home-->
    <script src="{% static 'js/home/home.module.js' %}"></script>
    <script src="{% static 'js/home/home.controller.js' %}"></script>
    <script src="{% static 'js/home/config.route.js' %}"></script>
    <script src="{% static 'js/home/home.services.js' %}"></script>

      <!-- Notify -->
    <script src="{% static 'js/notify/notify.module.js' %}"></script>
    <script src="{% static 'js/notify/notify.controller.js' %}"></script>
    <script src="{% static 'js/notify/notify.service.js' %}"></script>


</head>
<body>
    <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">Itune Music</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>


        <div class="container" ng-controller="NotifyController as vm">
            <div class="alert alert-success" ng-show="vm.notifyService.showMessage">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong ng-bind="vm.notifyService.message"></strong>
            </div>
        </div>

        <div ng-view class="container"></div>

</body>
</html>