{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block js_block %}
    $(document).ready(function(){
        $('#api_button').click(function(event){
            event.preventDefault();

            <!--making request to api-->
            $.ajax({
                url : 'https://affiliate.itunes.apple.com/resources/documentation/itunes-store-web-service-search-api/',
                method : 'get'


            });
        });

    });
{% endblock %}


{% block content %}
    <div class="container">
        <button type="button" id="api_button" class="btn btn-primary">Click</button>
    </div>

{% endblock %}
